<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= SiteName %> - Users</title>  <!-- 
    This is a product created by: Wezacon.com
    And used by: <%= SiteName %>. 
   -->
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-1W62MMP3C7"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-1W62MMP3C7');
   </script>
   <meta name="theme-color" content="#0f1a31">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/waves.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/foot.css">
  <link rel="stylesheet" href="/css/pageContent.css">
  <link rel="stylesheet" href="/css/comps.css">
  <link rel="stylesheet" href="/css/list.css">
  <link rel="shortcut icon" href="<%= icon %>" type="image/x-icon">
  <meta name="theme-color" content="var(--bg-1)">
  <meta name="description" content="<%= SiteName %> - The discord bot for your server!">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%= SiteName %>">
  <meta name="twitter:description" content="The discord bot for your server!">
  <meta name="twitter:image" content="<%= icon %>">
  <meta property="og:title" content="<%= SiteName %>">
  <meta property="og:description" content="The discord bot for your server!">
  <meta property="og:image" content="<%= icon %>">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark">
    <div class="nav navbar-nav">
      <div class="icon">
       <span style="color: var(--primary);">D</span>BOS
      </div>
    <a class="nav-item nav-link" href="/docs" title="Docs">
      <i class="fa fa-book"></i>
    </a>
    <a class="nav-item nav-link" href="/users" title="Users">
      <i class="fa fa-users"></i>
    </a>
    <a class="nav-item nav-link" href="https://discord.gg/ttRXkVUGjk" title="Support">
      <i class="fab fa-discord"></i>
    </a>
    <a class="nav-item nav-link" href="https://github.com/wezacon/dbos" title="Github">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <div class="nav navbar-nav ml-auto">

    <!-- <div>
        Right Side
    </div> -->

  </div>
</nav>
 <div class="header">
  <div class="inner-header">
    <div class="title">
      <br>
      <br>
      <img class="icon alive" src="<%= icon %>">
      <h1>Users</h1>
    </div>
    <div class="container">
      <a class='btn_main dbtn' href="/">
        Home
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
<div class="pageContent">
    <waves _ngcontent-serverapp-c78="" _nghost-serverapp-c56=""><svg _ngcontent-serverapp-c56="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="waves top" style="transform: rotate(180deg);"><defs _ngcontent-serverapp-c56=""><path _ngcontent-serverapp-c56="" id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g _ngcontent-serverapp-c56="" class="parallax"><use _ngcontent-serverapp-c56="" id="wave1t" xlink:href="#gentle-wave" x="48" y="0"></use><use _ngcontent-serverapp-c56="" id="wave2t" xlink:href="#gentle-wave" x="48" y="3"></use><use _ngcontent-serverapp-c56="" id="wave3t" xlink:href="#gentle-wave" x="48" y="5"></use><use _ngcontent-serverapp-c56="" id="wave4t" xlink:href="#gentle-wave" x="48" y="7"></use></g></svg></waves>
    <br>
    <div class="heading">
      <br>Most active users 
      <!-- <div style="width: 38.5321%;">
        <div class="smile" style="background-color: #FFD700;"></div>
      </div>  -->
    </div>
    <div class="content">
        <div class="cards">
      <% nusers.forEach((user, i) => { 

          if(user.removed == false){
              if(user.allowListing == true){ 
                if(user.dataCleared == false){
                const Rank = i + 1;
          %>
              <div class="card">
                  <div>
                  <img src="<%= user.profileImage %>" style="position: relative;" alt="">
                  <% if(user.contributor){ %> <div title="contributor" class="smile" style="background-color: #FFD700;border: 4px solid var(--bg-2)!important; width: 38.5321%; position: absolute; top: 95px; right: 60px;"></div> <% } %>                    
                  </div>
                  <br>
                  <br>
              <h3>
                  <%= user.username %> 
                  <% if(user.bugBuster){%>
                        <i class="fas fa-bug" title="DBOS bugBuster" style="color: #9b59b6;"></i>  
                     <%}%>  
                  <br>
                  <% if(user.moderator){ %>
                      <img src="https://github.com/wezacon/dbos/blob/main/public/img/mods/moderator.png?raw=true" style="display: inline-block;width: 40px; background: none;" title="Site Moderator">
                  <% } %>          
                  <% if(user.verified){ %>
                      <img src="https://github.com/wezacon/dbos/blob/main/public/svg/verified.svg?raw=true" style="display: inline-block;width: 24px;" title="Verified">
                  <% } %> 
                  <% if(user.partner){%>
                    <i class="fas fa-handshake" title="DBOS Partner" style="color: var(--primary);"></i>  
                  <%}%>
              </h3>
              <h4 class="rankLev" style="position: absolute; max-width: 40px; top:-15px; left:-20px;">#<%= Rank %></h4>
                    <br>
                    <br>
              <h4 class="rankLev"><%= user.messages %> Messages</h4>
              <% if(user.admin == true){ %> <div class="admin">ADMIN</div> <% } %> 
                  <a class='btn_main dbtn' href="user/<%= user.id %>">
                      View
                    </a>
              </div>
              
              
        <% 
            }
          }
          }
        }); 
          %>
        </div>

        <div class="Buttons">
            <a href="/api/git"><i class="fab fa-github-square"></i></a>
            <a href="https://dbos.flarum.cloud/"><i class="fa fa-question-circle"></i></a>
        </div>
    </div>
    <waves _ngcontent-serverapp-c78="" _nghost-serverapp-c56=""><svg _ngcontent-serverApp-c56="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="waves bottom" style="transform: rotate(180deg);"><defs _ngcontent-serverApp-c56=""><path _ngcontent-serverApp-c56="" id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g _ngcontent-serverApp-c56="" class="parallax"><use _ngcontent-serverApp-c56="" id="wave1b" xlink:href="#gentle-wave" x="48" y="0"></use><use _ngcontent-serverApp-c56="" id="wave2b" xlink:href="#gentle-wave" x="48" y="3"></use><use _ngcontent-serverApp-c56="" id="wave3b" xlink:href="#gentle-wave" x="48" y="5"></use><use _ngcontent-serverApp-c56="" id="wave4b" xlink:href="#gentle-wave" x="48" y="7"></use></g></svg></waves>
</div>

<div class="footer">
  <div id="button"></div>
  <div id="container">
    <div id="cont">
    <div class="footer_center">
      <a href="/wzc/team">
        <h3>© Wezacon.com</h3>
      </a>
    </div>
    </div>
</div>
</div>
</body>
</html>
    <!--© Wezacon.com -->
    <script>
      console.warn('© Wezacon.com');
    </script>