<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= serverCore.name %> - Users</title>  <!-- 
    This is a product created by: Wezacon.com
    And used by: <%= SiteName %>. 
   -->
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-1W62MMP3C7"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-1W62MMP3C7');
   </script>
   <meta name="theme-color" content="#0f1a31">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/waves.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/foot.css">
  <link rel="stylesheet" href="/css/pageContent.css">
  <link rel="stylesheet" href="/css/comps.css">
  <link rel="stylesheet" href="/css/list.css">
  <link rel="shortcut icon" href="<%= serverCore.iconURL() %>" type="image/x-icon">
  <meta name="theme-color" content="var(--bg-1)">
  <meta name="description" content="<%= serverCore.name %> - The discord bot for your server!">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%= serverCore.name %>">
  <meta name="twitter:description" content="The discord bot for your server!">
  <meta name="twitter:image" content="<%= serverCore.iconURL() %>">
  <meta property="og:title" content="<%= serverCore.name %>">
  <meta property="og:description" content="The discord bot for your server!">
  <meta property="og:image" content="<%= serverCore.iconURL() %>">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark">
    <div class="nav navbar-nav">
      <div class="icon">
       <span style="color: var(--primary);">D</span>BOS
      </div>
    <a class="nav-item nav-link" href="/docs" title="Docs">
      <i class="fa fa-book"></i>
    </a>
    <a class="nav-item nav-link" href="/users" title="Users">
      <i class="fa fa-users"></i>
    </a>
    <a class="nav-item nav-link" href="https://discord.gg/ttRXkVUGjk" title="Support">
      <i class="fab fa-discord"></i>
    </a>
    <a class="nav-item nav-link" href="https://github.com/wezacon/dbos" title="Github">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <div class="nav navbar-nav ml-auto">

    <!-- <div>
        Right Side
    </div> -->

  </div>
</nav>
 <div class="header">
  <div class="inner-header">
    <div class="title">
      <br>
      <br>
      <img class="icon alive" src="<%= serverCore.iconURL() %>">
      <h1><%= serverCore.name %> - Users</h1>
    </div>
      <% if(GuildDB.premium == true){ %>
        <div class="container">
        <% if(hasInv == true){ %>
          <a class='btn_main dbtn' href="https://discord.gg/<%= GuildDB.invite %>" style="font-size: 23px !important;" target="_blank">
            <i class="fab fa-discord"></i> &nbsp; Join server
          </a> 
        </div>
        <% } %>
      <% } %>
      <div class="container">
      <a class='btn_main dbtn' href="/s/<%= serverCore.id %> ">
        Server Home
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
<div class="pageContent">
    <waves _ngcontent-serverapp-c78="" _nghost-serverapp-c56=""><svg _ngcontent-serverapp-c56="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="waves top" style="transform: rotate(180deg);"><defs _ngcontent-serverapp-c56=""><path _ngcontent-serverapp-c56="" id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g _ngcontent-serverapp-c56="" class="parallax"><use _ngcontent-serverapp-c56="" id="wave1t" xlink:href="#gentle-wave" x="48" y="0"></use><use _ngcontent-serverapp-c56="" id="wave2t" xlink:href="#gentle-wave" x="48" y="3"></use><use _ngcontent-serverapp-c56="" id="wave3t" xlink:href="#gentle-wave" x="48" y="5"></use><use _ngcontent-serverapp-c56="" id="wave4t" xlink:href="#gentle-wave" x="48" y="7"></use></g></svg></waves>
    <br>
    <div class="heading">
      <br>Most active users 
      <!-- <div style="width: 38.5321%;">
        <div class="smile" style="background-color: #FFD700;"></div>
      </div>  -->
    </div>
    <div class="content">
      <% if(GuildDB.premium == true){ %>
        <div class="cards">
          
                  <% nusers.forEach((user, i) => {
                    if(user.removed == false){  
                    const Rank = i + 1;
                  %>
            <div class="card">
                <div>
                <img src="<%= user.profileImage %>" style="position: relative;" alt="">
                </div>
                <br>
                <br>
            <h3>
                <%= user.username %>          
                <% if(user.serverSuperAdmin){ %>
                    <i class="fa fa-tools" style="color: #25a109;" title="Server Staff"></i>
                <% } %> 
                <% if(user.serverAdmin){ %>
                    <i class="fa fa-gavel" style="color: #2fb312;" title="Admin"></i>
                <% } %> 
                <% if(user.serverModerator){ %>
                    <i class="fa fa-wrench" style="color: #2fb312;" title="Moderator"></i>
                <% } %> 
            </h3>
            <h4 class="rankLev" style="position: absolute; max-width: 40px; top:-15px; left:-20px;">#<%= Rank %></h4>
                  <br>
                  <br>
            <h4 class="rankLev"><%= user.messages %> Messages</h4>
            <% if(user.siteAdmin == true){ %> <div class="admin">ADMIN</div> <% } %> 
            <div style="display: flex!important;">
              <a class='btn_main dbtn' href="u/<%= user.id %>">
                    Server Profile
                  </a>
                      <a class='btn_main dbtn' href="../user/<%= user.userID %>">
                        Global Profile
                      </a>
                  </div>
                
            </div>
            
            
      <% 
          }
        }); 
          %>

        </div>
        <% } else {%>
            <div style="text-align: center !important;">
              <h2>This server does not have premium.</h2>
            </div>
            <% } %> 

        <div class="Buttons">
            <a href="/api/git"><i class="fab fa-github-square"></i></a>
            <a href="https://dbos.flarum.cloud/"><i class="fas fa-question-circle"></i></a>
        </div>
    </div>
    <waves _ngcontent-serverapp-c78="" _nghost-serverapp-c56=""><svg _ngcontent-serverApp-c56="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="waves bottom" style="transform: rotate(180deg);"><defs _ngcontent-serverApp-c56=""><path _ngcontent-serverApp-c56="" id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g _ngcontent-serverApp-c56="" class="parallax"><use _ngcontent-serverApp-c56="" id="wave1b" xlink:href="#gentle-wave" x="48" y="0"></use><use _ngcontent-serverApp-c56="" id="wave2b" xlink:href="#gentle-wave" x="48" y="3"></use><use _ngcontent-serverApp-c56="" id="wave3b" xlink:href="#gentle-wave" x="48" y="5"></use><use _ngcontent-serverApp-c56="" id="wave4b" xlink:href="#gentle-wave" x="48" y="7"></use></g></svg></waves>
</div>

<div class="footer">
  <div id="button"></div>
  <div id="container">
    <div id="cont">
    <div class="footer_center">
      <a href="/wzc/team">
        <h3>© Wezacon.com</h3>
      </a>
    </div>
    </div>
</div>
</div>
</body>
</html>
    <!--© Wezacon.com -->
    <script>
      console.warn('© Wezacon.com');
    </script>